/* CSS reset */

body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote { 

	margin:0;

	padding:0;

}


html,body{

	margin:0;

	padding:0;

	height: 100%;

}


div.show {
	background-color: yellow;
	width:200px;
    padding: 25px;
    border: 15px solid red;
    border-radius: 10px;
    margin: 25px;
    color: black;
}
a.link{background:  #7bec10; display: inline-block; padding: 5px 10px 6px; color: #222723; text-decoration: none; font-weight: bold; line-height: 1; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-box-shadow: 0 1px 3px #999; -webkit-box-shadow: 0 1px 3px #999; box-shadow: 0 1px 3px #999; text-shadow: 0 -1px 1px #222; border: none; position: relative; cursor: pointer; font-size: 14px; font-family:Verdana, Geneva, sans-serif;}
a:hover {
    background-color: #FF704D;
}
p.msg{background: #4b8df9; display: inline-block; padding: 5px 10px 6px; color: #fbf7f7; text-decoration: none; font-weight: bold; line-height: 1; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-box-shadow: 0 1px 3px #999; -webkit-box-shadow: 0 1px 3px #999; box-shadow: 0 1px 3px #999; text-shadow: 0 -1px 1px #222; border: none; position: relative; cursor: pointer; font-size: 14px; font-family:Verdana, Geneva, sans-serif;}

table, td, th {


    border: 1px solid green;
    padding: 10px 10px 2px 10px;


}
th {
    background-color: green;
    color: white;
}
tr{
	background-color:#7ba5bf;
	color:black;
}

img { 

	border:0;

}

address,caption,cite,code,dfn,th,var {

	font-style:normal;

	font-weight:normal;

}

ol,ul {

	list-style:none;

}

caption,th {

	text-align:left;

}

h1,h2,h3,h4,h5,h6 {

	font-size:100%;

	font-weight:normal;

}

header{

	display: block;

}

/* General Demo Style */

body{

	font-family: Cambria, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;

	background:url(images/bgnoise_lg.png);

	font-weight: 400;

	font-size: 15px;

	color: #3a2127;

	overflow-y: scroll;

}

a{

	color: #333;

	text-decoration: none;

}

.container{

	width: 100%;

	height: 100%;

	position: relative;

}

.clr{

	clear: both;

}

.container > header{

	padding: 20px 30px 20px 30px;

	margin: 0px 20px 10px 20px;

	position: relative;

	display: block;

	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);

    text-align: center;

}

.container > header h1{

	position: relative;

	color: #498ea5;

	font-weight: 700;

	font-style: normal;

	font-size: 30px;

	padding: 0px 0px 5px 0px;

	text-shadow: 0px 1px 1px rgba(255,255,255,0.8);

}

.container > header h1 span{

	font-family: 'Alegreya SC', Georgia, serif;

	font-size: 20px;

	line-height: 20px;

	display: block;

	font-weight: 400;

	font-style: italic;

	color: #719dab;

	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);

}

.container > header h2{

	font-size: 16px;

	font-style: italic;

	color: #2d6277;

	text-shadow: 0px 1px 1px rgba(255,255,255,0.8);

}

/* Header Style */

.idl-top{

	line-height: 24px;

	font-size: 11px;

	background: rgba(0, 0, 0, 0.05);

	text-transform: uppercase;

	z-index: 9999;

	position: relative;

	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);

}

.idl-top a{

	padding: 0px 10px;

	letter-spacing: 1px;

	color: #333;

	text-shadow: 0px 1px 1px #fff;

	display: block;

	float: left;

}

.idl-top a:hover{

	background: #fff;

}

.idl-top span.right{

	float: right;

}

.idl-top span.right a{

	float: left;

	display: block;

}

.idl-demos{

    text-align:center;

	display: block;

	line-height: 30px;

	padding: 20px 0px;

}

.idl-demos a{

    display: inline-block;

	margin: 0px 4px;

	padding: 0px 4px;

	color: #fff;

	line-height: 20px;	

	font-style: italic;

	font-size: 13px;

	border-radius: 3px;

	background: rgba(41,77,95,0.1);

	-webkit-transition: all 0.2s linear;

	-moz-transition: all 0.2s linear;

	-o-transition: all 0.2s linear;

	-ms-transition: all 0.2s linear;

	transition: all 0.2s linear;

}

.idl-demos a:hover{

	background: rgba(41,77,95,0.3);

}

.idl-demos a.current,

.idl-demos a.current:hover{

	background: rgba(41,77,95,0.3);

}
